@import "../../../../variables";
.tag {
  height: 40px;
  width: 20%;
  font-weight: bold;
  margin-top: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  p {
    margin: 0;
    padding: 0;
  }

  .material-symbols-outlined {
    font-size: 20px;
    line-height: 1;
    display: flex;
    align-items: center;
  }
}

.tagPrimary {
  background-color: $alert-green-color;
  color: $font-secondary-color;
}

.tagSecondary {
  background-color: rgb(155, 155, 155);
  color: $font-secondary-color;
}

.tagDefault {
}
