@import "../../../variables";

.logo{
    width: 50px;
}

.background-color{
    background-color: $primary-color;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 9999;
}