@import "../../../variables";

.content {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.content.fade {
  opacity: 0.6;
  transform: scale(0.98);
}

.toggle{
    margin-left: 10px;
}

.page-content {
  padding-top: 70px; // EXACTAMENTE la altura del navbar
}
@media (max-width: 768px) {
  .page-content {
    padding-top: 70px;
  }
}

.sections-margin {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .sections-margin {
    margin-top: 40px;
  }
}
