.content {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.content.fade {
  opacity: 0.6;
  transform: scale(0.98);
}

.toggle{
    margin-left: 10px;
}

.sections-margin{
  margin-top: 150px
}