@import "../../../variables";

.news-section {
  margin-top: $spacing-vertical;
  margin-bottom: 100px;
  padding: 0;
}

.news-image {
  min-height: 300px;

  @media (min-width: 992px) {
    min-height: 500px;
  }
}
