// Colors
$primary-color: #465775;
$secondary-color: #5B6C5D;
$accent-color: #4caf50;
$smooth-accent-color: #59C9A5;
$light-alert-color: #EF6F6C;
$alert-green-color: #BEEE62;
$smoth-secondary-color: #483C46;

// Tipografy
$font-main: 'Roboto', sans-serif;
$font-titles: 'Montserrat', sans-serif;
$font-primary-color: #ffff;
$font-secondary-color: #000000;

// Spacing
$spacing-vertical: 150px;
