/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "_variables";
@import "leaflet/dist/leaflet.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.btn-custom-primary {
    background-color: $smooth-accent-color;
  color: $font-secondary-color;
  width: fit-content;
  &:hover {
    transition: 0.5s ease, transform 0.5s ease;
    background-color: $accent-color;
  }
}

.custom-section {
  background-color: $secondary-color;
  color: $font-primary-color;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-weight: bolder;
    font-size: 2rem;

    @media (min-width: 992px) {
      font-size: 60px;
    }
  }
}
